<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/lay/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="~/Content/lay/css/public.css" media="all">
</head>
<body>
    @RenderBody()
</body>
</html>