
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layui.cshtml";
}
<script src="~/Content/lay/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="~/Content/layui/layui.js" type="text/javascript"></script>
<script src="~/Content/layui/layui.all.js"></script>

<script src="~/Content/lay/FrameWork.js" type="text/javascript"></script>
<div class="layuimini-container">
    <form lay-filter="query" id="f1" novalidate class="layui-form" style="padding:10px 10px 10px 10px">
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label" style="width:60px">税号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="ClientCode" lay-filter="query" id="ClientCode" autocomplete="off" />
            </div>
            <label class="layui-form-label" style="width:60px">名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="ClientName" lay-filter="query" id="ClientName" autocomplete="off" />
            </div>
            <div class="layui-input-inline" style="width:120px">
                <select class="layui-input" name="ClientType" lay-filter="ClientType" id="ClientType">
                    <option value="">==请选择==</option>
                    <option value="C">供应商</option>
                    <option value="G">客户</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn data-add-btn" type="button" lay-submit lay-filter="query"><i class="layui-icon">&#xe615;</i> 查询</button>
            </div>
        </div>
    </form>
    <div class="layui-form-item">
        <table class="layui-hide" id="table" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i></button>
                <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="update"><i class="layui-icon">&#xe642;</i></button>
            </div>
        </script>

    </div>
</div>
<script type="text/javascript">
    layui.use(['form', 'table'], function () {
        var form = layui.form, table = layui.table;
        form.render();
        var InitTable = table.render({
            elem: '#table',
            id: 't1',
            url: '/Client/GetList',
            height: 'full-100',
            cols: [[
                { type: 'numbers', title: '编号', width: 50, fixed: 'fixed' },
                { type: "radio", width: 50, title: '选择', fixed: "left" },
                { field: 'ID', width: 50, align: 'center', hide: true },
                { field: 'SID', width: 50, align: 'center', hide: true },
                {
                    field: 'ClientType', width: 60, title: '类型', align: 'center', templet: function (d) {
                        if (d.ClientType == "C") {
                            return '供应商';
                        } else {
                            return '客户'
                        }
                    }
                },
                { field: 'ClientCode', width: 130, title: '单位税号', align: 'center' },
                { field: 'ClientName', width: 200, title: '单位名称', align: 'center' },
                { field: 'Contact', width: 80, title: '联系人', align: 'center' },
                { field: 'Phone', width: 100, title: '联系电话', align: 'center' },
                { field: 'Address', width: 180, title: '地址', align: 'center' },
                { field: 'Email', width: 90, title: '电子邮箱', align: 'center' },
                { field: 'Fax', width: 90, title: '传真', align: 'center' },
                { field: 'QQ', width: 80, title: 'QQ', align: 'center' },
                { field: 'WeChat', width: 80, title: '微信', align: 'center' },
                {
                    field: 'Status', width: 80, title: '状态', align: 'center', event: 'changeStatus', templet: "#changeStatus", templet: function (d) {
                        if (d.Status == "0") {
                            return '<span class="layui-badge layui-bg-green">启用</span>';
                        } else {
                            return '<span class="layui-badge">禁用</span>'
                        }
                    }
                },
                { field: 'Remark', width: 150, title: '备注', align: 'center' },
                { field: 'Bank', width: 200, title: '开户银行', align: 'center' },
                { field: 'Account', width: 120, title: '银行账号', align: 'center' },
                { field: 'Creator', width: 50, title: '创建人', align: 'center', hide: true },
                { field: 'CreatDate', width: 50, title: '创建日期', align: 'center', hide: true }
            ]],
            page: true,
            limit: 20,
            limits: [20, 40, 60, 80, 100],
            text: { none: '无相关数据' },
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports']
        });
        form.on('submit(query)', function (data) {
            var param = data.field;
            InitTable.reload({
                where: param,
                page: { curr: 1 }
            });
            return false;
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    add();
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        edit(data);

                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                    }
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    // obj.del(); //删除对应行（tr）的DOM结构
                    var params = {
                        'bid': data.ID,
                    }

                    dele(params);
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {

                edit(data)
            }
            else if (obj.event === 'changeStatus') {
                var ids = data.SID;
                var status1 = data.Status;
                var status = "0";
                if (status1 == "0") {
                    status = "1";
                }
                else if (status1 == "1") {
                    status = "0";
                }
                $.ajax({
                    url: "/Client/ChangeStatus/",
                    data: { SID: ids, status: status },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        //$.loading(false);

                        if (data.Code == "0000") {
                            var msgs = (data.Msg);
                            top.layer.msg(msgs, { icon: 1 });
                            parent.location.reload();
                        }
                        else {

                            top.layer.msg(data.Msg, { icon: 2 });
                        }

                    },
                    error: function () {
                        //$.loading(false);

                    },
                    complete: function () {
                        //$.loading(false);
                    }
                });
            }
        });
        function edit(data) {
            layer.open({
                type: 2,
                title: '修改',
                area: ['1000px', '400px'],
                offset: '160px',
                shadeClose: true, // 点击遮罩关闭
                btn: ['保存', '取消'],
                content: '/Client/EditIndex',
                success: function (layero, index) { // 成功弹出后回调
                    layer.iframeAuto(index);
                    var body = layer.getChildFrame('body', index);  //巧妙的地方在这里哦
                    body.contents().find("#SID").val(data[0].SID);
                    body.contents().find("#ClientName").val(data[0].ClientName);
                    body.contents().find("#ClientCode").val(data[0].ClientCode);
                    body.contents().find("#ClientType").val(data[0].ClientType);
                    body.contents().find("#Address").val(data[0].Address);
                    body.contents().find("#Contact").val(data[0].Contact);
                    body.contents().find("#Phone").val(data[0].Phone);
                    body.contents().find("#WeChat").val(data[0].WeChat);
                    body.contents().find("#QQ").val(data[0].QQ);
                    body.contents().find("#Email").val(data[0].Email);
                    body.contents().find("#Fax").val(data[0].Fax);
                    body.contents().find("#Bank").val(data[0].Bank);
                    body.contents().find("#Account").val(data[0].Account);
                    body.contents().find("#Remark").val(data[0].Remark);

                },

                yes: function (index, layero) { // 保存按钮回调函数
                    // 获取iframe层的body
                    var body = layer.getChildFrame('body', index);  //巧妙的地方在这里哦
                    // 找到隐藏的提交按钮模拟点击提交
                    // body.find('#permissionSubmit').click();
                    var SID = body.contents().find("#SID").val();
                    var ClientName = body.contents().find("#ClientName").val();
                    var ClientCode = body.contents().find("#ClientCode").val();
                    var ClientType = body.contents().find("#ClientType").val();
                    var Address = body.contents().find("#Address").val();
                    var Contact = body.contents().find("#Contact").val();
                    var Phone = body.contents().find("#Phone").val();
                    var WeChat = body.contents().find("#WeChat").val();
                    var QQ = body.contents().find("#QQ").val();
                    var Email = body.contents().find("#Email").val();
                    var Fax = body.contents().find("#Fax").val();
                    var Bank = body.contents().find("#Bank").val();
                    var Account = body.contents().find("#Account").val();
                    var Remark = body.contents().find("#Remark").val();

                    var params = {
                        'SID': SID,
                        'ClientName': ClientName,
                        'ClientCode': ClientCode,
                        'ClientType': ClientType,
                        'Address': Address,
                        'Contact': Contact,
                        'Phone': Phone,
                        'WeChat': WeChat,
                        'QQ': QQ,
                        'Email': Email,
                        'Fax': Fax,
                        'Bank': Bank,
                        'Account': Account,
                        'Remark': Remark,

                    };
                    upbook(params);
                    layer.close(index);
                },
                btn2: function (index, layero) { // 取消按钮回调函数
                    layer.close(index); // 关闭弹出层
                }


            });
        }




        function add() {
            layer.open({
                type: 2,
                title: '新增客户',
                area: ['1000px', '400px'],
                offset: '160px',
                shadeClose: true, // 点击遮罩关闭
                btn: ['保存', '取消'],
                content: '/Client/AddIndex',
                success: function (layero, index) { // 成功弹出后回调

                },

                yes: function (index, layero) { // 保存按钮回调函数
                    // 获取iframe层的body
                    // var body = layer.getChildFrame('body', index);
                    // 找到隐藏的提交按钮模拟点击提交
                    //  body.find('#permissionSubmit').click();
                    layer.iframeAuto(index);
                    var body = layer.getChildFrame('body', index);  //巧妙的地方在这里哦
                    var ClientName = body.contents().find("#ClientName").val();
                    var ClientCode = body.contents().find("#ClientCode").val();
                    var ClientType = body.contents().find("#ClientType").val();
                    var Address = body.contents().find("#Address").val();
                    var Contact = body.contents().find("#Contact").val();
                    var Phone = body.contents().find("#Phone").val();
                    var WeChat = body.contents().find("#WeChat").val();
                    var QQ = body.contents().find("#QQ").val();
                    var Email = body.contents().find("#Email").val();
                    var Fax = body.contents().find("#Fax").val();
                    var Bank = body.contents().find("#Bank").val();
                    var Account = body.contents().find("#Account").val();
                    var Remark = body.contents().find("#Remark").val();

                    var params = {
                        'ClientName': ClientName,
                        'ClientCode': ClientCode,
                        'ClientType': ClientType,
                        'Address': Address,
                        'Contact': Contact,
                        'Phone': Phone,
                        'WeChat': WeChat,
                        'QQ': QQ,
                        'Email': Email,
                        'Fax': Fax,
                        'Bank': Bank,
                        'Account': Account,
                        'Remark': Remark,

                    };
                    addtabls(params);
                    layer.close(index);
                },
                btn2: function (index, layero) { // 取消按钮回调函数
                    layer.close(index); // 关闭弹出层
                }


            });
        }

        function upbook(params) {
            $.ajax({
                url: "/Client/EditClient",
                type: "post",
                dataType: 'json',
                data: params,
                success: function (data) {
                    if (data.Code == "0000") {
                       
                       
                        var msgs = (data.Msg);
                        top.layer.msg(msgs, { icon: 1 });
                        parent.location.reload();

                    }
                    else {
                        top.layer.msg(data.Msg, { icon: 2 });

                    }
                    layer.msg('修改成功');
                    tables();
                },
                error: function (or) {
                    alert('失败')
                }
            })
        }

        function addtabls(params) {
            $.ajax({
                url: "/Client/AddClient",
                type: "post",
                dataType: 'json',
                data: params,
                success: function (data) {
                    layer.msg('新增成功');
                    tables();
                },
                error: function (or) {
                    alert('失败')
                }
            })
        }


        function dele(params) {
            $.ajax({
                url: "/",
                type: "post",
                dataType: 'json',
                data: params,
                success: function (data) {
                    layer.msg('删除成功');
                    tables();
                },
                error: function (or) {
                    alert('失败')
                }
            })
        }
    })
</script>

