
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layui.cshtml";
}

<div class="layui-btn-container" style="padding-top:20px;padding-left:20px">
    <button class="layui-btn layui-btn-sm" id="btn_add">新增节点</button>
</div>
<div id="tree" class="layui-tree" style="padding-top:20px;padding-left:20px"></div>
<script type="text/javascript">
    layui.use(['form', 'tree'], function () {
        var form = layui.form, tree = layui.tree;
        var treeData = [];
        form.render();
        var InitTree = tree.render({
            elem: '#tree',
            data: treeData,
            onlyIconControl:true,
            showLine: true,
            showCheckbox: false,
            text: {
                none: '无数据'
            },
            click: function (obj) {
                var sID = obj.data.field;
                top.layer.open({
                    id: 'add',
                    type: 2,
                    title: false,
                    content: '/ProductClass/UpdateClass?SID=' + sID,
                    zIndex: 10000,
                    area: ['340px', '220px'],
                    closeBtn: 1,
                    end: function () {
                        GetTree();
                    }
                })
            }
        });
        function GetTree() {
            $.ajax({
                url: '/ProductClass/ProductClassList',
                type: 'post',
                dataType: 'json',
                success: function (backData) {
                    treeData = backData;
                    InitTree.reload({
                        data: treeData
                    });
                }

            })
        }
        function addNode() {
            top.layer.open({
                id: 'add',
                type: 2,
                title: false,
                content: '/ProductClass/AddClass',
                zIndex: 10000,
                area: ['340px', '220px'],
                closeBtn: 1,
                end: function () {
                    GetTree();
                }
            })
        }
        $('#btn_add').on('click', addNode);
        GetTree();
    })
</script>

