
@{
    ViewBag.Title = "AddIndex";
    Layout = "~/Views/Shared/_Lay.cshtml";
}

<script src="~/Content/lay/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="~/Content/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
<script src="~/Content/lib/jquery-validation/dist/messages_zh.js" type="text/javascript"></script>
<script src="~/Content/layui/layui.js" type="text/javascript"></script>
<script src="~/Content/layui/layui.all.js"></script>

<script src="~/Content/lay/FrameWork.js" type="text/javascript"></script>
<script>
    $(function () {
        $("#SID").bindSelect({
            url: "/Department/OptList",
            id: "SID",
            text: "DepartName"
        });
    });
    function submitForm() {
        $("#form1").validate({
            rules: {
                LoginID: "required",
                Password: "required",
            }
        });
        if ($('#form1').valid()) {
            //$.loading(true, "正在提交数据");
            window.setTimeout(function () {
                $.ajax({
                    url: "/User/AddUser/",
                    data: $('#form1').serialize(),
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        //$.loading(false);

                        if (data.Code =="0000") {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            //$.currentWindow().$("#currentTableId").trigger("reloadGrid");
                            parent.location.reload();
                            var msgs = (data.Msg);
                            top.layer.msg(msgs, { icon: 1 });
                            parent.layer.close(index);
                        }
                        else {
                            
                            top.layer.msg(data.Msg, { icon: 2 });
                        }

                    },
                    error: function () {
                        //$.loading(false);

                    },
                    complete: function () {
                        //$.loading(false);
                    }
                });

            }, 500);
        }
    }
</script>

<div style="margin-right:30px;padding-top:10px;">
    <form id="form1" class="form-horizontal">
        <div style="position:absolute; padding-right:10px;">
            <table class="form">
                <tr>
                    <th class="formTitle">登录名</th>
                    <td class="formValue">
                        <input id="LoginID" name="LoginID" type="text" class="form-control" placeholder="登录名" />
                    </td>
                </tr>
                @*<tr >
            <th class="formTitle">登陆密码</th>
            <td class="formValue">
                <input id="Password" name="Password" type="text" class="form-control" placeholder="登陆密码" />

            </td>
        </tr>*@
                <tr>
                    <th class="formTitle">部门:</th>
                    <td class="formValue" >
                        <select id="SID" name="SID" lay-search class="form-control" lay-verify="required" lay-filter="SID" >
                            <option value="">==请选择==</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <th class="formTitle">联系电话</th>
                    <td class="formValue">
                        <input id="Phone" name="Phone" type="text" class="form-control" placeholder="联系电话" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">员工姓名</th>
                    <td class="formValue">
                        <input id="UserName" name="UserName" type="text" class="form-control" placeholder="员工姓名" />
                    </td>
                </tr>

            </table>
        </div>
    </form>
</div>