<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="Server" value="192.168.11.12\sqlexpress" />-->
    <add key="Server" value=".\sql2012" />
    <add key="Userid" value="sa" />
    <add key="Password" value="sa123456" />
    <add key="Database" />
    <add key="AccountDir" value="E:\Database\PSI" />
    <add key="BackupDir" value="E:\Database\PSI" />
  </appSettings>
</configuration>